#pragma code_page(65001)
#include <windows.h>

IDI_APP_ICON ICON "assets/logo.ico"

VS_VERSION_INFO VERSIONINFO
FILEVERSION 0,0,1,0
PRODUCTVERSION 0,0,1,0
FILEFLAGSMASK VS_FFI_FILEFLAGSMASK
FILEFLAGS 0
FILEOS VOS_NT_WINDOWS32
FILETYPE VFT_APP
FILESUBTYPE 0
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "040904B0"
    BEGIN
      VALUE "CompanyName",      "Nekoi\0"
      VALUE "FileDescription",  "에버소울오프라인HAR\0"
      VALUE "FileVersion",      "0.0.1.0\0"
      VALUE "InternalName",     "eversoul_har_recorder\0"
      VALUE "LegalCopyright",   "Nekoi\0"
      VALUE "OriginalFilename", "eversoul_har_recorder.exe\0"
      VALUE "ProductName",      "에버소울오프라인HAR\0"
      VALUE "ProductVersion",   "0.0.1.0\0"
    END
  END
  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0x0409, 1200
  END
END
